<h3>Questions</h3>

<div>
<h1> <%= @question.title %> </h1>

<p> <%= @question.content %></p>

<button id='new_comment_button'>Comment</button>

<form id="new_comment_form" class="hidden" action="/questions" method="POST">
  <div>
    <textarea rows="5" cols="30" name="comment[content]" placeholder="Content"></textarea>
  </div>

  <div>
    <input type="submit" value="Submit post">
  </div>
</form>

</div>

 <!-- Load answers for this questions -->


<h3>Answers</h3>

<% @answers.each do |answer| %>

<ul>
  <li><%= answer.content %></li>
</ul>

<a id='#new_comment_button' href="/comment/<%= @question.id %>">Comment</a>
<% end %>


<form action="/questions/<%= @question.id %>/answers/new" method="POST">
    <textarea rows="5" cols="30" name="answer[content]" placeholder="Content"></textarea>
  </div>

  <div>
    <input type="submit" value="Submit post">
  </div>
</form>










