<div id='question_container'>
  <h1> <%= @question.title %> </h1>

  <p> <%= @question.content %></p>
</div>

<% if @all_comments %>
<div id='question_comment'>
<ul>
  <% @all_comments.reverse.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>
</div>
<% end %>
<% if logged_in? %>
  <button id='new_comment_button'>Comment</button>

<!-- delete question if logged in -->
  <form action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>


<% end %>


<!-- Need to use the ajax partial -->

  <%= erb :'_comments', locals:{question: @question, comment: @comment}, layout: false %>

 <!-- Load answers for this questions -->

<h6><%= @answers.count %> Answers</h6><br>
  <div id='answer_comment'>
      <ul>
        <% @answers.each do |answer| %>
        <li><%= answer.content %></li>
      </ul>
    <% if @answers.length > 0 && logged_in? %>
      <button id="answerId/<%=answer.id%>" class='new_comment_for_answer_button'>Comment</button>
    <% end %>
  </div>


  <!-- deleting answers -->

  <form action="/answers/<%= answer.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>


<%= erb :'_comments_answer', locals:{answer: answer, comment: @comment}, layout: false %>

<% end %>

</div>


<!-- NEED TO FIGURE OUT HOW TO GET THE ANSWERS TO HAVE MANY COMMENTS -->
<!-- ADD COMMENTS TO ANSWER SECTION -->


<h3> Your Answer </h3><br>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>
<form action="/questions/<%= @question.id %>/answers/new" method="POST">
    <textarea rows="5" cols="30" name="answer[content]" placeholder="Content"></textarea>
    <input type="submit" value="Submit Answer">
</form>









