<h3>Questions</h3>

<div>
  <div id='question_container'>
  <h1> <%= @question.title %> </h1>

  <p> <%= @question.content %></p>

  <a href=''
</div>
<div id ='question_comment'></div>

<button id='new_comment_button'>Comment</button>

<%= erb :'_comments', locals:{question: @question}, layout: false %>

</div>

 <!-- Load answers for this questions -->

<h3>Answers</h3>

<% @answers.each do |answer| %>

<ul>
  <li><%= answer.content %></li>
</ul>

<button id='new_comment_button'>Comment</button>

<% end %>


<form action="/questions/<%= @question.id %>/answers/new" method="POST">
    <textarea rows="5" cols="30" name="answer[content]" placeholder="Content"></textarea>
  </div>

  <div>
    <input type="submit" value="Submit post">
  </div>
</form>










