<ul class="vertical medium-horizontal menu">

  <% if logged_in? %>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/questions/new">Create Question</a></li>
  <% else %>
  <li><a href="/login">Login</a></li>
  <li><a href="/users/new">Register</a></li>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th width="200">Top Questions</th>
    </tr>
  </thead>

  <% @questions.each do |question| %>

  <tbody>
    <tr>
     <td><a href='/votes/<%= question.id %>' class="fa fa-sort-desc fa-2x vote-button"></a><br>
      <span class='points' ><%= question.points %></span><br>

      <a href='/votes/reduce/<%= question.id %>' class="fa fa-caret-down fa-2x vote-button"></a> </td>

      
      <td>Answers</td>
      <td>Views</td>
      <td><a href="/questions/<%= question.id %>"><%= question.title %></a></td>
      <% if logged_in? %>
      <td>Asked by  <%= @user.username %></td>
      <% end %>
    </tr>
  </tbody>

  <% end %>

</table>
