<h5 class="question-heading">Top Questions</h5>
<% @questions.reverse.each do |question| %>
  <tbody>
    <tr class='table-size'>
      <td>
        <ul>
          <li class="table-style counter"> <%= question.points %> <br>votes
          </li>
          <li class="table-style counter"> <%= question.answers.count %> <br>answers
          </li> 
          <li  class="table-style question-title">
            <a href="/questions/<%= question.id %>"><%= question.title.slice(0..90) %></a>
          </li>
          <% if logged_in? %>
            <% time = question.user.created_at %>
          <li class="table-style user-name">
            <a href="#">Asked <%= time.strftime("%b %w %Y") %>  <%= question.user.username %> </a>
          </li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>

  <% end %>

</table>
